Мы создаем плагин статистики для Wordpress, плагин на Wordpress, по правилам кодекса для загрузки в репозиторий Wordpress
Плагин должен быть написан на Php, Html, Css, Javascript, по правилам кодекса для загрузки в репозиторий Wordpress
Когда пишешь код, будь на 100% уверен, что он работает и не содержит ошибок
Когда пишешь код, учитывай что плагин должен быть защищен от взлома и быть оптимизированным