# Prevent direct access to files
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule . - [F,L]
</IfModule>

# Prevent viewing of directory contents
Options -Indexes 